<configuration>
	<system.web>
		<authorization>
			<!-- Deny access to all anonymous users -->
			<deny users="?" />

			<!-- Allow access to Owner role -->
			<allow roles="Admin" />

			<!-- Allow access to Employee role -->
			<allow roles="Teacher" />

			<!-- Allow access to Customer role -->
			<allow roles="Student" />

			<!-- Deny all others -->
			<deny users="*" />
		</authorization>
	</system.web>
</configuration>
